body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.box1{
	 display: flex;
 flex-direction: column;
 height: 400px;
 width: 800px;
 
 align-items:center;
 margin: auto;
 margin-top:50px;
 margin-bottom:40px;
 background-color: rgba(0,0,0,0.5);
 box-shadow: inset -5px -5px rgba(0,0,0,0.5);
 border-radius: 25px;
	
}
.container {
 display: flex;
 flex-direction: column;
 height: 500px;
 width: 800px;
 
 align-items:center;
 margin: auto;
 margin-top:10px;
 background-color: rgba(0,0,0,0.5);
 box-shadow: inset -5px -5px rgba(0,0,0,0.5);
 border-radius: 25px;
 margin-bottom: 20px;
 
}
/*heading*/
h1{
	text-align: center;
  color: white;
}
h2 {
	
  text-align: center;
  color: white;
}

/**/
.form-group {
	padding: 4px;
	color: rgb(247, 5, 5);
	margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.5);
  box-shadow: inset -3px -3px rgba(9, 5, 219, 0.5);
  color: white;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #4285f4;
  
}
/*total price*/
input[readonly] {
  background-color: white;
  background-color: rgba(0,0,0,0.5);
  box-shadow: inset -3px -3px rgba(0,0,0,0.5);
}
/*buy now button*/
.btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


/*admin*/

